* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REM = Root EM*/

:root {
  font-size: 62, 5%; /* REGRA DE OURO: transforma em 10px a referência p/ os tamanhos das fontes, facilitando o cálculo do dimensionamento em todas as fontes! */
}

body {
  background-color: var(--Bg_Light, #ece9fd);

  padding: 6rem 2.3rem 6.6rem;

  font-family: "Epilogue", sans-serif;
  font-size: 1.6rem; /* Volta a fonte padrão para 16px! */
}

main {
  max-width: 33rem;
  margin: 0 auto;
}

main p:first-child {
  /* encontra o 1º p de main */
  color: #7158ef;
  line-height: 3.2rem;
  letter-spacing: 3px; /* P/ medidas mt pequenas (<4px), é recomendável deixar píxel. */
  text-transform: uppercase;

  margin-bottom: 1.7rem;
}

h1 {
  color: #090039;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 4.8rem;

  margin-bottom: 1.5rem;
}

h1 + p {
  /* seleciona o p cujo elemento anterior é o h1 */
  color: rgba(10, 0, 57, 0.64);
  line-height: 3.2rem;

  margin-bottom: 3.2rem;
}

a {
  text-decoration: none;
  color: #090039;
}

a:hover {
  color: #7158ef;
}

ul {
  list-style: none;
  color: #090039;

  margin-top: 7.2rem;
}

ul li {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;

  width: 25.7rem;
  display: flex; /* obs: Tem como padrão "align-items: flexstart" */
  gap: 3.8rem;
}

ul li span {
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 8rem;
  letter-spacing: 2px; /* P/ medidas mt pequenas (<4px), é recomendável deixar píxel. */
}
